.table > :not(:first-child) {
  border-top: none;
}

.bt-5px {
  border-top-width: 5px;
}
.required::after {
  content: "*";
  color: red;
  margin-left: 5px;
}
html,
body {
  height: 100%;
}
#root {
  height: 100%;
}
